<div class="row">
  <%= render partial: "admin/partials/admin_navigations" %>
    <div class="col-10">
      <div class="contents">
        <div class="row">
          <div class="col-md-3">
            <div class="card-counter">
              <p>Weekly Sales</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card-counter">
              <p>Total Sales (2022)</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card-counter">
              <p>Orders</p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card-counter ">
              <p>Wallet Balance</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Best Selling Products</p>
            <table class="table table-borderless align-middle">
              <thead>
                <tr>
                  <th>Product name</th>
                  <th>Revenue</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="col-md-6">
            <p>Earnings preview</p>
          </div>
        </div>
      </div>
    </div>
</div>