<div class="row">
  <%= render partial: "admin/partials/admin_navigations" %>
  <div class="col-10">
    <table class="table caption-top">
      <caption>List of users</caption>
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Number of items</th>
          <th scope="col">Price</th>
          <th scope="col">Purhcase Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>
