  <div class="row">
  <%= render partial: "users/partials/profile_navigation" %>
    <div class="col-10">
      <div class="profile_details_area">
        <div class="py-4 px-3">
          <div class="row g-2 mt-1">
            <div class="col-md-6">
              <div class="input-field">
                <label for="first_name">First Name</label>
                <input class="form-control" id="first_name" name="first_name" value="<%= @user["first_name"] %>" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-field">
                <label for="last_name">Last Name</label>
                <input class="form-control" id="last_name" name="last_name" value="<%= @user["last_name"] %>" required>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="input-field">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" value="<%= @user["email"] %>" required>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <button class="btn btn-primary w-100 signup-button" id="signup_button">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>