<div class="container text-center">
  <div class="row">
    <div class="col align-self-center p-4">
      <input class="form-control" id="product_search" type="text" placeholder="Type something to search list items">
    </div>
    <div class="container d-flex justify-content-center mt-50 mb-50">
      <div class="row">
      <% for a in 1..40 do %>
      <%= render partial: "shop/partials/product_card"%>
      <% end %>
      </div>
    </div>
  </div>
</div>