<%# https://bbbootstrap.com/snippets/bootstrap-5-login-form-side-images-71555323 credits here %>
<form action="/api/users" method="POST" id="signup_form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="left-side-content">

          <div class="left-side">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span><img src="https://i.imgur.com/kWmyZvb.jpg">
            </span>
            <span></span>
            <span></span>
            <span></span>
            <span>
              <img src="https://i.imgur.com/U0863iD.jpg">
            </span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="py-4 px-3">
            <h4>Signup</h4>
            <div class="row g-2 mt-1">
              <div class="col-md-6">
                <div class="input-field">
                  <input class="form-control" id="first_name" name="first_name" required>
                  <label for="first_name">First Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-field">
                  <input class="form-control" id="last_name" name="last_name" required>
                  <label for="last_name">Last Name</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input class="form-control" id="email" name="email" required>
                  <label for="email">Email</label>
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input class="form-control" id="password" name="password" required>
                  <label for="password">Password</label>
                </div>
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-md-12">
                <div class="input-field">
                  <input class="form-control" id="password_confirmation" name="password_confirmation" required>
                  <label for="password_confirmation">Confirm Password</label>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <button class="btn btn-primary w-100 signup-button" id="signup_button">Signup</button>
              </div>
            </div>
            <div class="member mt-1">
              <span>Already a member?</span>
              <a class="text-decoration-none" href="/shop/signin">Signin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallelogram">
    <span></span>
    <span></span>
    <span></span>
  </div>
</form>
