<!-- Modal -->
<form action="/api/addresses" method="POST" id="create_address_form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="modal fade" id="add_address_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-2 mt-1">
            <div class="col-md-6">
              <div class="input-field">
                <label">Full Name</label>
                  <input class="form-control" name="addresses[full_name]" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-field">
                <label">Phone number</label>
                  <input class="form-control" name="addresses[phone_number]" required>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="input-field">
                <label>Province/State</label>
                <input class="form-control" name="addresses[province]" required>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="input-field">
                <label>City</label>
                <input class="form-control" name="addresses[city]" required>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="input-field">
                <label>Detailed Address</label>
                <input class="form-control" name="addresses[detailed_address]" required>
              </div>
            </div>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="address[is_billing]" id="is_billing">
            <label class="form-check-label" for="is_billing">Make billing address</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="address[is_default]" id="is_default">
            <label class="form-check-label" for="is_default">Make default address</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>