<div class="col-2">
  <ul class="list-group">
    <li class="list-group-item"><a class="profile_redirect_button" href="/admin">Dashboard</a></li>
    <li class="list-group-item"><a class="profile_redirect_button" href="/admin/orders">Orders</a></li>
    <li class="list-group-item">Products</li>
  </ul>
</div>
