<footer class="section-p1">
  <div class="col">
    <%= image_tag ("logo.png"), class: "logo" , alt: "logo" %>
    <h4>Contact</h4>
    <p><strong>Address:</strong> Pasy City, Metro Manila</p>
    <p><strong>Phone:</strong> +639557703461</p>
    <p><strong>Hours:</strong> 10:00-18:00 PHT, Mon-Sat</p>
    <div class="follow">
      <h4>Follow me</h4>
      <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About Us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact Me</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">About Me</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Me</a>
  </div>

  <div class="col install">
    <h4>Install App</h4>
    <a href="#">From App Store or Google Play</a>
    <div class="appstore_logos">
      <%= image_tag "pay/app.jpg" %>
      <%= image_tag "pay/play.jpg" %>
    </div>
    <p>Secured Payment Gateways</p>
    <%= image_tag "pay/pay.png" %>
  </div>

  <div class="copyright">
    <p>All rights reserved</p>
  </div>
</footer>