<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shop online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
				<% if session[:user] %>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
				<% else %>
				<li class="nav-item float-sm-right">
          <a class="nav-link" href="/shop/signup">Signup</a>
        </li>
				<li class="nav-item float-sm-right">
          <a class="nav-link" href="/shop/signin">Login</a>
        </li>
				<% end %>
      </ul>
    </div>
  </div>
</nav>