<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
  <div id="app_toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body" id="toast_message">
      Successfully Updated!
    </div>
  </div>
</div>