body {
  .row {
    padding: 0px;

    .col-2 {
      justify-content: flex-start !important;
      padding: 0px;
      height: calc(100vh - 50px);

      .admin_navbar_container {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        height: 100%;
        width: 180px;
        background: var(--white);

        ul {
          height: 100%;
          border-radius: 0px;
        }
      }
    }

    .col-10 {
      padding: min(5px, 200px);

      section.admin_content_section {
        padding: 10px;
        overflow: hidden;
        background: var(--gray_100);
        height: 100%;
        background: var(--white);
      }
    }
  }

  nav {
    display: block !important;
    min-height: 56px;
    max-height: 56px;
  }


}