@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan", sans-serif;
}

:root {
  --black: #222;
  --back_text: #1a1a1a;
  --secondary_text: #088178;
  --green: #465b52;
  --white: #e3e6f3;
  --white_clear: #fff;
  --red: #ef3636;
  --red_text: #ec544e;
  --border: #cce7d0;
  --description_color: #606063;
  --product_title_color: #1a1a1a;
  --teal_blue: #041e42;
  --gray: #818ea0;
  --yellow: #ffbd27;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--black);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--black);
}

h4 {
  font-size: 20px;
  columns: var(--black);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: var(--green);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav ul li {
      position: relative;
      list-style: none;
      padding: 0 20px;
    }

    nav ul li a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: var(--back_text);
      transition: 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a.active {
      color: var(--secondary_text);
    }

    nav ul li a.active::after,
    nav ul li a:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: var(--secondary_text);
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div.col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      img.logo {
        margin-bottom: 30px;
      }

      h4 {
        font-size: 14px;
        padding-bottom: 20px;
      }

      p {
        font-size: 13px;
        margin: 0 0 8px 0;
      }

      a {
        font-size: 13px;
        text-decoration: none;
        color: var(--black);
        margin-bottom: 10px;
      }

      a:hover,
      div.follow i:hover{
        color: var(--secondary_text);
      }

      div.follow {
        margin-top: 20px;

        i {
          color: var(--green);
          padding-right: 4px;
          cursor: pointer;
        }
      }
    }

    div.install {
      div.appstore_logos {
        display: flex;

        img {
          border: 1px solid var(--secondary_text);
          border-radius: 6px;
        }
      }
    }

    img {
      margin: 10px 0 15px 0;
    }

    div.copyright {
      width: 100%;
      text-align: center;
    }
  }
}
