body {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav ul li {
      position: relative;
      list-style: none;
      padding: 0 20px;
    }

    nav ul li a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: var(--back_text);
      transition: 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a.active {
      color: var(--secondary_text);
    }

    nav ul li a.active::after,
    nav ul li a:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: var(--secondary_text);
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  }

  section.offers {
    background-image: asset_url("offers.png"); /* TODO: move in S3 in the future*/
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h4 {
      padding-bottom: 15px;
    }

    h1 {
      color: var(--secondary_text);
    }
  }

  section.offers > button {
    background-image: asset_url("button.png"); /* TODO: move in S3 in the future*/
    background-color: transparent;
    color: var(--secondary_text);
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }

  section.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    div.feature_box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: solid 1px var(--border);
        border-radius: 4px;
        margin: 15px 15px;

        h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: var(--secondary_text);
          }

          h6.free_shipping {
            background-color: #d1e8f2;
          }

          h6.online_order {
            background-color: #fddde4;
          }

          h6.save_money {
            background-color: #cdebbc;
          }

          h6.promotions {
            background-color: #73c2fb;
          }

          h6.happy_customers {
            background-color: #cdd4f8;
          }

          h6.support {
            background-color: #fff2e5;
          }
      }

    div.feature_box:hover {
      box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    }

    div.feature_box img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  /* pro = product
    #product1 = product list container
  */
  section.products {
    text-align: center;

    div.product_list_container {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      flex-wrap: wrap;
      img {
        width: 100%;
        border-radius: 20px;
      }

      div.product {
          width: 23%;
          min-width: 250px;
          padding: 10px 12px;
          border: 1px solid var(--border);
          border-radius: 25px;
          cursor: pointer;
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
          margin: 15px 0;
          transition: 0.2s ease;
          position: relative;

        div.description {
          text-align: start;
          padding: 10px 0;

          span {
            color: var(--description_color);
            font-size: 12px;
          }

          h5 {
            padding-top: 7px;
            color: var(--product_title_color);
            font-size: 14px;
          }
        }
      }

      div.product:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
      }

      i.fa-star {
        font-size: 12px;
        color: rgb(243, 181, 25);
      }

      i.cart {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: var(--white);
        color: var(--secondary_text);
        border: 1px solid var(--border);
        position: absolute;
        bottom: 20px;
        right: 10px;
      }

      h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: var(--secondary_text);
      }
    }
  }

  section.banner {
    background-image: asset_url("banner/b2.jpg");
    width: 100%;
    text-align: center;
    align-items: center;

    h4 {
      color: var(--white);
      font-variant-position: 16px;
    }

    h2 {
      color: var(--white);
      font-size: 30px;
      padding: 10px 0;

      span {
        color: var(--red);
      }
    }

    button.normal:hover {
      background-color: var(--secondary_text);
      color: var(--white);
    }
  }

  section.banner,
  section.promos div.banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }

  section.promos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h2, h4, span {
      color: var(--white_clear);
    }

    h4 {
      font-size: 20px;
      font-weight: 300;
    }

    h2 {
      font-size: 28px;
      font-weight: 800;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 15px;
    }
    /* Banner background images */
    div.deals_banner {
      background-image: asset_url("banner/b17.jpg");
    }

    div.season_collection_banner {
      background-image: asset_url("banner/b10.jpg");
    }

    div.banner_box {
      align-items: flex-start;
      min-width: 580px !important;
      padding: 30px;

      > button {
          font-size: 13px;
          font-weight: 600;
          padding: 11px 18px;
          color: var(--white_clear);
          background-color: transparent;
          cursor: pointer;
          border: 1px solid var(--white_clear);;
          outline: none;
          transition: 0.2s;
        }

      > button:hover {
        background-color: var(--secondary_text);
        border: 1px solid var(--secondary_text);
      }
    }
  }
}

/* sm-banner = promos
 banner-box = promos_box
*/
