/* credits here: https: //mdbootstrap.com/docs/b4/jquery/forms/search/#:~:text=Bootstrap%20search%20is%20a%20component,Databases */
body {
    margin: 0;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {

    width: 350px;
}

.star {
    color: red;
}

.bg-cart {
    background-color: orange;
    color: #fff;
}

.bg-cart:hover {

    color: #fff;
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px;
}

.bg-buy:hover {
    color: #fff;
}

a{
    text-decoration: none !important;
}