body {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

    nav ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav ul li {
      position: relative;
      list-style: none;
      padding: 0 20px;
    }

    nav ul li a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: var(--back_text);
      transition: 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a.active {
      color: var(--secondary_text);
    }

    nav ul li a.active::after,
    nav ul li a:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: var(--secondary_text);
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  }

  section.offers {
    background-image: asset_url("offers.png"); /* TODO: move in S3 in the future*/
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  section.offers h4{
    padding-bottom: 15px;
  }

  section.offers h1{
    color: var(--secondary_text);
  }

  section.offers > button {
    background-image: asset_url("button.png"); /* TODO: move in S3 in the future*/
    background-color: transparent;
    color: var(--secondary_text);
    border: 0;
    padding: 14px 80px 14px 65px;
    // background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }

  section.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section.features div.feature_box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: solid 1px var(--border);
    border-radius: 4px;
    margin: 15px 15px;
  }

  section.features div.feature_box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }

  section.features div.feature_box > h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--secondary_text);
  }
  /* features */
  section.features div.feature_box > h6.free_shipping {
    background-color: #d1e8f2;
  }

  section.features div.feature_box > h6.online_order {
    background-color: #fddde4;
  }

  section.features div.feature_box > h6.save_money {
    background-color: #cdebbc;
  }

  section.features div.feature_box > h6.promotions {
    background-color: #73c2fb;
  }

  section.features div.feature_box > h6.happy_customers {
    background-color: #cdd4f8;
  }

  section.features div.feature_box > h6.support {
    background-color: #fff2e5;
  }

  section.features div.feature_box img {
    width: 100%;
    margin-bottom: 10px;
  }
}