<div class="row">
  <%= render partial: "admin/partials/admin_navigations" %>
    <div class="col-10">
      <form action="/products" method="post" id="add_product_form">
        <h1>Product Information</h1>
        <div class="row">
          <div class="col-2">
            <p>Product Images</p>
          </div>
          <div class="col-10">
            <p>Product Images</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p>Product Name</p>
          </div>
          <div class="col-10">
            <input class="form-control" type="text" placeholder="Product name">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p>Category</p>
          </div>
          <div class="col-10">
            <select class="form-select" name="product[category]">
              <% @categories.each do |category| %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>
      </form>
    </div>
    <%= "#{params['controller']} #{params['action']}" %>
</div>